
.App {
  text-align: center;
  position: relative;
}

.main{
  display: flex;


}
.bc{
  background-color: darkslateblue;
} 

.navbar2{
  display: flex;
  padding: 5px 25px;
  margin: 1%;
  font-size: 1.2rem;
  font-weight: bold;
  display: inline-block;
  position: relative;
  right: 70%;
  text-decoration: none;

}


.h1{
  display: flex;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: red;
 
  font-size: 2.7rem;
  /* display: inline-block;  */
   position: relative;
  right: -18%;
  top: 80px; 
}
.h2{
  display: flex;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  /* background-color: orangered; */
 
  position: relative;
 right:18%;
top: 130px;
}
.logo1{
  display: flex;
  width: 12%;
  position: relative;
  right: 40%;
  
}
.info{
  color: aliceblue;
  text-align: justify;
  border: 2px solid gray;
  /* display: inline-block; */
padding: 10px;
position: relative;
left: 4%;
  
 
}
.session{
  display: inline-block;
  border: 1px solid black;
  padding: 3px;
  position: relative;
  left: 40%;
  /* top: 90px; */
  color: black;
}

.player{
  display: inline-block;
 
  align-items: start;
  border: 2px solid gray;
  border-radius: 7px;
  width: 240px;
  height: 320px;
  margin: 20px;
}
.player1{
  width: 100%;
}
.name{
  /* position: relative;
  bottom: 20px; */
  color: black;
}
.role{
  /* position: relative;
  bottom: 40px; */
  color: black;
}
.advt{
  display: flex;
  justify-content: space-evenly;
  background-color: bisque;
}

                              /* Ram code */
/* ram code */


.pagelink{
  color: black;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 5px;
  text-decoration: none;

}




 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: 'Poppins', sans-serif;
}

body{
  background-color: #3c3c3c;
}

.container{
  position: relative;
}


.container .logo .img{
  width: 10%;
  height: 10%;
  position: relative;
  left: -38%;
  top: 30px;
}


.container .background .img2{
  position: absolute;
  width: 350px;
  margin-left: -35%;
  top: 25%;
  height: 75vh;
  opacity: 0.4;
}

.container .heading{
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 35%;
  min-height: 65vh;
  margin-left: 100px;
  top: 30%;
  text-align: justify;
}
.container .heading .head{
  padding-bottom: 15px;
  font-size: 40px;
  color: red;
  text-decoration: underline;

}
.container .headingAbout .headAbout{
 color: crimson;
 text-align: center;
 font-size: 40px;
 text-decoration: underline;
 margin: 2%;
font-weight: bold;
}

.container .headingAbout .paraAbout {
  font-size: 18px;
  font-weight: 800;
  text-align: center;
  color: black;
}
.container .headingAbout ul li{
  font-size: 18px;
  font-weight: 800;
  text-align: center;
  color: black;
  text-decoration: none;
  border: 1px solid black;
  display: inline-block;
  /* margin: 3px; */
  border-radius: 5px;
}
.container .headingAbout ul li:hover{
  background-color: burlywood;
  color: black;
  cursor: pointer;
}
  

.container .heading .para{
  padding-bottom: 20px;
  font-size: 18px;
  font-weight: 800;
}

.container .heading .btn1{
  width: 150px;
  height: 50px;
  background-color: red;
  border: 2px  solid transparent;
  border-radius: 5px;

}
.container .heading .btn1:hover {
  background-color: blue;
  color: white;
  transition: 0.6s;
  cursor: pointer;
}

.container .image .img3{
  position: relative;
 -webkit-box-reflect: below 2px linear-gradient(transparent, transparent, rgba(0,0,0,0.4));
}

.container .navbar ul{
  display: flex;
  position: absolute;
  right: 15%;
  top: 0;
  list-style: none;
  cursor: pointer;

}

.container .navbar ul li{
  padding: 40px;
  margin: 3%;



}

.navbar1{
  padding: 5px;
  color: black;
  margin: 1%;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: burlywood;
  border-radius: 5px;
  position: relative;

  text-decoration: none;

}



.navbarRcb.active{
  background-color: red;
  color: black;
}
.navbarCsk.active{
  background-color: yellow;
  color: black;
}
.navbarMi.active{
  background-color: blue;
  color: black;
}
.navbarSrh.active{
  background-color: orangered;
  color: black;
}

.empty{
  position: absolute;
  clip-path: polygon(77% 0, 100% 0, 100% 100%, 40% 100%);
  background-color: red;
  width: 100%;
  height: 100vh;
  top: 0;
  right: 0;
  z-index: -1000;
}

.emptyCsk{
  position: absolute;
  clip-path: polygon(77% 0, 100% 0, 100% 100%, 40% 100%);
  background-color: gold;
  width: 100%;
  height: 100vh;
  top: 0;
  right: 0;
  z-index: -1000;
}

.emptyMi{
  position: absolute;
  clip-path: polygon(77% 0, 100% 0, 100% 100%, 40% 100%);
  background-color:dodgerblue;
  width: 100%;
  height: 100vh;
  top: 0;
  right: 0;
  z-index: -1000;
}
.emptySrh{
  position: absolute;
  clip-path: polygon(77% 0, 100% 0, 100% 100%, 40% 100%);
  background-color:orangered;
  width: 100%;
  height: 100vh;
  top: 0;
  right: 0;
  z-index: -1000;
}


.list ol{
  display: flex;
  position: absolute;
  list-style: none;
  margin-left: 30%;
}
.list ol li{
  margin: 25px;
  font-size: 20px;
  font-weight: 900;
  cursor: pointer;
}

.list ol li:hover, .container .navbar ul li:hover{
  transform: scale(2, 2);
}



::selection{
  background-color: white;
  color: black;
}


@media screen and (max-width: 900px){
  /* .container .heading{
      top: 120vh;
      width: 100%;
      margin: 0;
  } */

  /* .container .image img{
      margin: 0;
      margin-top: -30px;
      width: 650px;
      height: 400px;
  } */

  /* .container .background img{
      position: absolute;
      width: 450px;
      margin-left: 12%;
      height: 80vh;
      top: 120vh;
      z-index: -1;
      opacity: 0.4;
  }
   */
  /* .list ol{
      display: flex;
      position: absolute;
      list-style: none;
      margin-left: 10%;

  }

  .container .navbar ul{
      display: flex;
      position: absolute;
      right: 0;
      top: 100vh;
      list-style: none;
  } */
}

